
<html lang="en">
<head>
	<title>El Navidad de Maya</title>
	<link rel="stylesheet" href="styles.css">
	<script src = "gallery.js"></script>
	</head>
<body>

  <header>
    
    El Navidad de Maya
    
  </header>
	
		<div1>
		
			<img class = "preview" alt = "
			
			One of the earliest pictures of Maya, but still my favorite" src = "pic/pic1.jpeg" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class = "preview" alt = "A pretty picture to most but a reminder to me of 3 months with no Maya :(" src = "pic/pic2.jpeg" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class = "preview" src = "pic/pic3.jpeg" alt = "Its fabric thin and not ideal for warmth yet the memories it invokes kept me warm atop the Colorado mountains" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	</div1>
	
	<div id = "image">
		Hover over an image to display here.
	</div>
	
<div2>
		
			<img class = "preview" alt = "Whoops how did this get in here?" src = "pic/pic4.jpeg" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class = "preview" alt = "A birthday spent with a reindeer, my favorite one in 25 years" src = "pic/pic5.jpeg" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class = "preview" src = "pic/pic6.jpeg" alt = "Only once a year does Santa come, luckily for me its like Christmas everyday being with this little present" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	</div2>
	
<footer>

<div3>
<a href="page2/page3.html" class="next">Next Page &raquo;</a>
<div3>

</footer>

</body>
</html>