<html lang="en">
<head>
	<title>El Navidad de Maya(2)</title>
	<link rel="stylesheet" href="style.css">
	
	</head>
<body>

  <header>
    
    El Navidad de Maya
    
  </header>
	

	
	<div id = "image">
		Miss Maya, <br><br>
		
		It is not fun that you are in Maryland for Christmas.<br>
		I just came to realize that I have thought about<br>
		you every day since that March 19th night when<br>
		we saw that old lady porn film. I hate to<br>
		admit it but I like that, the old ladies<br>
		I mean ;) No more Christmases apart <br>
		from now on okay? <br><br>
		Merry Christmas from your fav BF<br>
		I love you xoxo
	</div>
	

	


</body>
</html>
