
header {
	font-family: Snell Roundhand, cursive;
	font-size: 400%;
	color: green;
	line-height: 2;
	text-align: center;
	text-decoration-line: overline underline;
  	text-decoration-color: red;
 	text-decoration-style: solid;
	text-decoration-thickness: auto;
	

}


body {
	height: auto;
	margin: 2%;
	border: 1px solid black;
	background-image: url("snow.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

div1 {
	float: left;
	display: block;
	height: auto;
	width: 25%;
}

div2 {
	float: right;
	display: inline-block;
	height: auto;
	width: 25%;
}

#image {
	
	line-height:2;
	width: 45%;
    height: 80%;
	border:5px solid black;
	background-position: center;
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: right;
    background-size: cover;
	margin:auto;
    font-size: 150%;
	color: black;
	font-weight: bold;
}
.preview {
	
	display: block;
	width:30%;
	height:15%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 18.3%;
	border: 10px solid black;
}
img {
		width:95%;
	vertical-align: bottom;
}


div3 {
	margin: auto;
}



